/*--------------------*/
/*        reset       */
/*--------------------*/

@charset 'utf-8';

html {
  font-size: 14px;
}

body {
  letter-spacing: -0.05em;
  /* height: 500vh; */
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

/*--------------------*/
/*      component     */
/*--------------------*/

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin-inline: auto;
}

.nav-links a:not(.a) {
  margin-left: 2em;
}

.nav-links .a {
  margin-right: auto;
}

.progress-bar-con {
  position: fixed;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  top: 45px;
  left: 0;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: limegreen;
}